{% extends 'base.html' %}
{% block content %}
{{ super() }}
<div class="col-12">
	<h2 class="m-3">Авторизация</h2>
</div>
{% for cat, msg in get_flashed_messages(True) %}
<div class="col-12">
	<div class="alert {{ cat }}" role="alert">
		{{ msg }}
	</div>
</div>
{% endfor %}
<form class="mt-4" action="/login" method="post">
	<div class="mb-3">
		<label for="exampleInputEmail1" class="form-label">Адрес электронной почты</label>
		<input type="email" name="useremail" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
			required>
		<div id="emailHelp" class="form-text">Мы никогда никому не передадим вашу электронную почту.</div>
	</div>
	<div class="mb-3">
		<label for="exampleInputPassword1" class="form-label" required>Пароль</label>
		<input type="password" name="userpassword" class="form-control" id="exampleInputPassword1">
		<div id="passwordHelpBlock" class="form-text">
			Ваш пароль должен состоять из 8-20 символов, содержать буквы и цифры и не должен содержать пробелов,
			специальных символов или эмодзи.
		</div>
	</div>
	<button type="submit" class="btn btn-primary">Войти</button>
</form>
{% endblock %}